
body {
    /*font-family: Helvetica Neue, Arial, sans-serif;*/
    font-size: 14px;
    color: #444;
    margin: 0;
    background-color: #54799c;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border: 2px solid #ff8800;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: #d77d31;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9;
}

th, td {
    /*min-width: 120px;*/
    padding: 10px 20px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.standard-button {
    background: gainsboro;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    margin: .3em;
    color: indigo;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-style: none;
    border-width: 0px;
    transition: all 1s ease-in-out 0s;
    max-width: 160px;
}

.standard-button:hover {
    transition: all 1s ease-in-out 0s;
    opacity: 0.7;
    background-color: gray;
    color: white;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    flex-basis: 100%;
}

.content-container {
    display: flex;
    flex-flow: column;
    /*flex-basis: 100%;*/
    align-items: center;
    background-color: #f1f1f1;
    /*padding-left: 45px;*/
    width: 80%;
    height: auto;
    border-radius: 1px;
    padding-bottom: 50px;
}

input.input-box {
    height:20px;
    width:220px;
    padding:5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

input.input-box:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.label-box {
    display: flex;
    flex-flow: column;
    margin: 10px 0;
}


.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    /*font-weight: 700;*/
    color: #444;
    /*line-height: 1.3;*/
    padding: .6em 1.4em .5em .8em;
    width: 240px;
    /*max-width: 100%;*/
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.textarea-box {
    width: 500px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.textarea-box:focus{
    border: solid 3px #77bde0;
}

textarea{
    height: 100px;
    resize: none;
    overflow: auto;
}


button.orange-button{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #003567;
    display:block;
    width:200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

button.orange-button {
    margin: 1.9em;
    background-color: #d58f59;
    border: 1px solid rgb( 33, 126, 74 );
}

button.orange-button:hover {
    background-color: #e0a577;
}

.submit-button-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-button {
    background: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    /*margin: .3em;*/
    color: cornsilk;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-style: none;
    border-width: 0;
    transition: all 1s ease-in-out 0s;
    max-width: 360px;
    margin: 25px 0 25px 0;
}

.submit-button:hover {
    transition: all 1s ease-in-out 0s;
    opacity: 0.7;
    background-color: gray;
    color: white;
}

.scrollable-table {

    max-width: 1000px;
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-bottom: 50px;
}
th {
    /*background: white;*/
    /*table-layout:fixed;*/
    /*position: sticky;*/

    /*top: 0;*/
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
}

/*table tbody { display:block; max-height:450px; overflow-y:scroll; }*/
/*table thead, table tr { table-layout:fixed; }*/

/*thead, tbody tr {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*}*/

/*tbody {*/
/*    display: block;*/
/*    overflow: auto;*/
/*    table-layout: fixed;*/
/*    max-height: 250px;*/
/*        max-width: 1000px;*/

/*}*/

.just:-moz-first-node {
    position: absolute;
    /*width: 120px;*/
}

/*table {*/
/*    text-align: left;*/
/*    position: relative;*/
/*    border-collapse: collapse;*/
/*}*/


.tabss {
    position: absolute;
    z-index: 2;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: dimgrey;
    padding: 1rem;
    border-left: 1px solid white;
    margin-left: calc(-1rem - 1px);
}

.grid-container {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 0 50px 0;
    align-items: center;
}

table {
    /*position: relative;*/
    width: 700px;
    /*background-color: #aaa;*/
    overflow: hidden;
    border-collapse:  separate;
}


.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    flex-flow: row-reverse wrap;
}

.modal-default-button {
    background: gainsboro;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    margin: .3em;
    color: indigo;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-style: none;
    border-width: 0px;
    transition: all 1s ease-in-out 0s;
    max-width: 160px;
}

.modal-default-button:hover {
    transition: all 1s ease-in-out 0s;
    opacity: 0.7;
    background-color: gray;
    color: white;
}

.save-button {
    padding: 10px 30px 10px 30px;
    background-color: #0D8BBD;
    color: lightyellow;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    width: 500px;
    border: 2px solid #2c97bd;
    border-radius: 2px;
    transition: all 1s ease-in-out 0s;
}

.save-button:hover {
    transition: all 1s ease-in-out 0s;
    background-color: #4a67bd;
    border: 2px solid #9e9cbd;
    transform: scale(1.08);
}

.search-field {
    /*margin-left: 200px;*/
    margin: 15px 0 25px 0;
}

.top {
    margin: 0 auto;
    display: table;
}

.bottom {
    position: absolute;
    top: 40%;
    left: 45%;
}

.right {
    position: absolute;
    right: 20px;
}

.left {
    position: absolute;
}

.right, .left {
    top: 25%;
}

.tooltip {
    display: block !important;
    z-index: 10000;
    max-width: 200px;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}

.add-button-container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    width: 100%;
    padding-right: 100px;
}

.add-button {
    padding: 10px 15px 10px 15px;
    background-color: #4a67bd;
    color: #f8fff4;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    min-width: 355px;
    border: 2px solid #bdb9bc;
    border-radius: 2px;
    transition: all 1s ease-in-out 0s;
}

.add-button:hover {
    transition: all 1s ease-in-out 0s;
    background-color: #4a67bd;
    border: 2px solid #9e9cbd;
    color: white;
    /*transform: scale(1.08);*/
}

.header-container {
    display: flex;
    align-items: flex-start;
    /*justify-content: flex-start;*/
    background-color: #343235;
    /*padding-left: 40px;*/
    height: 50px;
    justify-content: center;
    background-color: rgba(185, 205, 255, 0.21);
    padding: 10px 40px 10px 40px;
    margin: 20px 0 20px 0;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
    color: #fff;
}

.highlight {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
}

.highlight:hover {
    color: #fff;
    transition: color .2s ease;
}

.spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-round:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.full-width {
    width: 100%;
}

.input-fields {
    margin-top: 25px;
}


.welcome {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}

.subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
}

.menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
}

.window {
    z-index: 100;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}

.overlay {
    background: -webkit-linear-gradient(#8CA6DB, #B993D6);
    background: linear-gradient(#8CA6DB, #B993D6);
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
}

.bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity:0.1;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
    background-size:cover;
}

@media (max-width: 500px) {
    .window {
        width: 100%;
        height: 100%;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
}

.login-container {
    display: flex;
    width: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #9fafde, #a6acdd, #b2a8dc, #b9a5db, #c1a1da);
    flex-flow: column wrap;
}