
body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
    margin: 0;
    background-color: #54799c;
}

table {
    border: 2px solid #ff8800;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: #d77d31;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9;
}

th, td {
    /*min-width: 120px;*/
    padding: 10px 20px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.standard-button {
    background: gainsboro;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    margin: .3em;
    color: indigo;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-style: none;
    border-width: 0px;
    transition: all 1s ease-in-out 0s;
    max-width: 160px;
}

.standard-button:hover {
    transition: all 1s ease-in-out 0s;
    opacity: 0.7;
    background-color: gray;
    color: white;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    flex-basis: 100%;
}

.content-container {
    display: flex;
    flex-flow: column;
    /*flex-basis: 100%;*/
    align-items: center;
    background-color: #f1f1f1;
    /*padding-left: 45px;*/
    width: 80%;
    height: auto;
    border-radius: 1px;
}

input.input-box {
    height:20px;
    width:220px;
    padding:5px 8px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

input.input-box:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.label-box {
    display: flex;
    flex-flow: column;
    margin: 10px 0;
}


.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    /*font-weight: 700;*/
    color: #444;
    /*line-height: 1.3;*/
    padding: .6em 1.4em .5em .8em;
    width: 240px;
    /*max-width: 100%;*/
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.textarea-box {
    width: 500px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.textarea-box:focus{
    border: solid 3px #77bde0;
}

textarea{
    height: 100px;
    resize: none;
    overflow: auto;
}


button.orange-button{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #003567;
    display:block;
    width:200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

button.orange-button {
    margin: 1.9em;
    background-color: #d58f59;
    border: 1px solid rgb( 33, 126, 74 );
}

button.orange-button:hover {
    background-color: #e0a577;
}

.submit-button-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-button {
    background: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    /*margin: .3em;*/
    color: cornsilk;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    border-style: none;
    border-width: 0;
    transition: all 1s ease-in-out 0s;
    max-width: 360px;
    margin: 25px 0 25px 0;
}

.submit-button:hover {
    transition: all 1s ease-in-out 0s;
    opacity: 0.7;
    background-color: gray;
    color: white;
}

.scrollable-table {

    max-width: 1000px;
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-bottom: 50px;
}
th {
    /*background: white;*/
    /*table-layout:fixed;*/
    /*position: sticky;*/

    /*top: 0;*/
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
}

/*table tbody { display:block; max-height:450px; overflow-y:scroll; }*/
/*table thead, table tr { table-layout:fixed; }*/

/*thead, tbody tr {*/
/*    display: table;*/
/*    table-layout: fixed;*/
/*}*/

/*tbody {*/
/*    display: block;*/
/*    overflow: auto;*/
/*    table-layout: fixed;*/
/*    max-height: 250px;*/
/*        max-width: 1000px;*/

/*}*/

.just:-moz-first-node {
    position: absolute;
    /*width: 120px;*/
}

/*table {*/
/*    text-align: left;*/
/*    position: relative;*/
/*    border-collapse: collapse;*/
/*}*/


.tabss {
    position: absolute;
    z-index: 2;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: dimgrey;
    padding: 1rem;
    border-left: 1px solid white;
    margin-left: calc(-1rem - 1px);
}

.grid-container {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 0 50px 0;
}

table {
    position: relative;
    width: 700px;
    background-color: #aaa;
    overflow: hidden;
    border-collapse: collapse;
}


/*thead*/
/*thead {*/
/*    position: relative;*/
/*    display: block; !*seperates the header from the body allowing it to be positioned*!*/
/*    !*width: 700px;*!*/
/*    overflow: visible;*/
/*}*/

/*thead th {*/
/*    background-color: #99a;*/
/*    min-width: 120px;*/
/*    height: 32px;*/
/*    border: 1px solid #222;*/
/*}*/

/*thead th:nth-child(1) {!*first cell in the header*!*/
/*    position: relative;*/
/*    display: block; !*seperates the first cell in the header from the header*!*/
/*    background-color: #88b;*/
/*}*/


/*tbody*/
/*tbody {*/
/*    position: relative;*/
/*    display: block; !*seperates the tbody from the header*!*/
/*    !*width: 700px;*!*/
/*    !*height: 239px;*!*/
/*    overflow: scroll;*/
/*}*/

/*tbody td {*/
/*    !*background-color: #bbc;*!*/
/*    min-width: 120px;*/
/*    !*border: 1px solid #222;*!*/
/*}*/

/*td:nth-child(1) {  !*the first cell in each tr*!*/
/*    position: absolute;*/
/*    !*display: block; !*seperates the first column from the tbody*!*!*/
/*    height: 200px;*/
/*    !*background-color: #99a;*!*/
/*}*/