<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Euro Application - Discipline</title>
    <script src="/euro_new/js/HttpRequest.js"></script>
    <link href="/euro_new/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" v-bind:style="{width: width}">

                    <div class="modal-header">
                        <slot name="header">
                            Header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            Body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" @click="$emit('execute')">
                                OK
                            </button>
                            <button class="modal-default-button" @click="$emit('close')">
                                Close
                            </button>

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<script type="text/x-template" id="grid-template">
    <div class="grid-container">
        <div class="scrollable-table" @scroll="tableHeaderFixed($event)">

            <!--            @scroll="test($event)"-->
            <table   id="table"
                     data-toggle="table"
                     data-height="460">
                <thead ref="header">
                <tr>
                    <th v-for="key in columns"
                        @click="sortBy(key)"
                        :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                    </th>
                    <th style="min-width: 20px"></th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="entry in filteredHeroes" :ref="'discipline' + entry['id']">
                    <td contenteditable="true" v-for="key in columns">
                        <select class="select-css" v-if="key === 'навчання'">
<!--                            <option>1 - Залік/Экзамен</option>-->
<!--                            <option>2 - Практики/Practices</option>-->
<!--                            <option>3 - Курсові роботи/Coursework</option>-->
<!--                            <option>4 - Атестації/Certification</option>-->
                            <option v-for="option in teachingOptions" :selected="entry[key] === option">{{option}}</option>
                        </select>
                        <select class="select-css" v-else-if="key === 'диференціал'">
                            <option :selected="entry[key] === 'Оцінка'">Оцінка</option>
                            <option :selected="entry[key] === 'Зарах'">Зарах</option>
                        </select>
                        <div v-else>{{entry[key]}}</div>
                    </td>
                    <!--                <td style="min-width: 20px">-->
                    <!--                    &lt;!&ndash;                    <button :value="entry['id']" @click="displayEditRequestModalWindow(entry['id'])">E</button>&ndash;&gt;-->
                    <!--                    <input :value="entry['id']" @click="test(entry['id'])" type="image" src="https://img2.freepng.ru/20180420/bqq/kisspng-computer-icons-writing-fonts-vector-5ada38828ce8b3.0081536415242507545772.jpg" style="max-width: 20px">-->
                    <!--                </td>-->
                    <td style="min-width: 20px">
                        <input :value="entry['id']" @click="displayDeleteDisciplineModalWindow(entry['id'])" type="image" src="/icc/views/images/deleteIcon.png" style="max-width: 20px">
                    </td>
                </tr>
                </tbody>

            </table>
        </div>


    </div>
</script>
<script type="text/x-template" id="euro-header">
    <div class="header-container">
        <button class="standard-button" @click="redirect('/euro_new/control-page')">Головна сторінка</button>
        <button class="standard-button" @click="redirect('qualification')">Здобуття кваліфікації</button>
        <button class="standard-button" @click="redirect('nationalFramework ')">Національна рамка</button>
        <button class="standard-button" @click="redirect('contentsAndResults')">Зміст та результати</button>
        <button class="standard-button" @click="redirect('graduateList')">Список випускників</button>
        <button class="standard-button" @click="redirect('disciplineList')">Дисципліни</button>
        <button class="standard-button" @click="redirect('estimateList')">Оцінок</button>
    </div>
</script>
<div id="app">
    <euro-header></euro-header>
    <div class="main-container">
        <modal v-if="showDeleteEntryModal" @close="showDeleteEntryModal = false" @execute="deleteDiscipline()">
            <h3 slot="header">
                Видалення дисципліни (ID: {{ activeModalValue }})
            </h3>
            <h3 slot="body">
                Ви впевнені?
            </h3>
        </modal>
        <modal v-if="showInfoEntryModal" @close="showInfoEntryModal = false" @execute="showInfoEntryModal = false">
            <h3 slot="header">
                Інформація про таблицю
            </h3>
            <h3 slot="body">
                Кількість годин: {{totalHours}}<br/>
                Кількість кредитів: {{totalLoans}}<br/>
                Кількість дисциплін: {{amountOfDisciplines}}<br/>
            </h3>
        </modal>

        <div class="content-container">
            <form id="search" class="search-field">
                <span class="text-caption">Пошук </span>
                <input class="input-box" name="query" v-model="searchQuery" autocomplete="off">
                <i class="fa fa-info-circle" v-tooltip.right-end="'Пошук відбувається по всім значенням рядків та стовпців таблиці.'"></i>
            </form>
            <div class="add-button-container">

                <button class="add-button" @click="showInfoEntryModal = true">Переглянути інформацію про таблицю</button>
                <button class="add-button" @click="addNewDiscipline()">Додати нового дисципліну</button>
            </div>
            <grid
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
            </grid>
            <button class="save-button" @click="updateAllDisciplines()">Зберегти дані</button>
        </div>

    </div>

</div>
<script src="/euro_new/js/disciplineList.js"></script>

</body>
</html>