<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Euro Application - Edit Qualification</title>
    <script src="/euro_new/js/HttpRequest.js"></script>
    <link href="/euro_new/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>

    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container" v-bind:style="{width: width}">

                        <div class="modal-header">
                            <slot name="header">
                                Header
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                Body
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button" @click="$emit('execute')">
                                    OK
                                </button>
                                <button class="modal-default-button" @click="$emit('close')">
                                    Close
                                </button>

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
    <script type="text/x-template" id="euro-header">
        <div class="header-container">
            <button class="standard-button" @click="redirect('/euro_new/control-page')">Головна сторінка</button>
            <button class="standard-button selected-header-button" @click="redirect('qualification')">Здобуття кваліфікації</button>
            <button class="standard-button" @click="redirect('nationalFramework ')">Національна рамка</button>
            <button class="standard-button" @click="redirect('contentsAndResults')">Зміст та результати</button>
            <button class="standard-button" @click="redirect('graduateList')">Список випускників</button>
            <button class="standard-button" @click="redirect('disciplineList')">Дисципліни</button>
            <button class="standard-button" @click="redirect('estimateList')">Оцінки</button>
            <button class="standard-button" @click="getODT()">Сформувати додатки</button>
        </div>
    </script>
    <div id="app">
        <euro-header></euro-header>
        <div class="main-container">
            <div class="content-container">
                <modal v-if="showInfoEntryModal" @close="showInfoEntryModal = false" @execute="showInfoEntryModal = false">
                    <h3 slot="header">
                        Відсоток заповненості
                    </h3>
                    <h3 slot="body">
                        Відсоток заповненості: {{percentOfFullness}}%<br/>

                    </h3>
                </modal>
                <div class="add-button-container">
                    <button class="add-button" @click="showInfoEntryModal = true">Відсоток заповненості</button>
                </div>
                <label class="label-box">Назва групи (Скорочено): <textarea v-model="abbreviation" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Ступінь освіти: <select v-model="degree" class="select-css">
                    <option selected="selected">Бакалавр</option>
                    <option>Магістр</option>
                </select></label>
                <label class="label-box">Кваліфікація: <textarea v-model="qualificationUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Qualification: <textarea v-model="qualificationEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Галузь знань: <textarea v-model="fieldStudyUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Field of study: <textarea v-model="fieldStudyEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Перша спеціальність: <textarea v-model="firstSpecialtyUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">First Specialty: <textarea v-model="firstSpecialtyEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Освітня програма: <textarea v-model="educationProgramUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Educational program: <textarea v-model="educationProgramEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Друга спеціальність: <textarea v-model="secondSpecialtyUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Second Specialty: <textarea v-model="secondSpecialtyEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Спеціалізація: <textarea v-model="specializationUA" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <label class="label-box">Specialization: <textarea v-model="specializationEN" class="textarea-box" placeholder="..." rows="3"></textarea></label>
                <div class="submit-button-container">
                    <button @click="updateQualification()" type="submit" class="submit-button">Зберегти</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/euro_new/js/editQualification.js"></script>

</body>
</html>