<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Euro Application - Main Page</title>
    <script src="/euro_new/js/HttpRequest.js"></script>
    <link href="/euro_new/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" v-bind:style="{width: width}">

                    <div class="modal-header">
                        <slot name="header">
                            Header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            Body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button" @click="$emit('execute')">
                                OK
                            </button>
                            <button class="modal-default-button" @click="$emit('close')">
                                Close
                            </button>

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

    <script type="text/x-template" id="grid-template">
        <div class="scrollable-table">
        <table>
            <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                </th>
                <th style="min-width: 20px"></th>
                <th style="min-width: 20px"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in filteredHeroes">
                <td v-for="key in columns">
                    {{entry[key]}}
                </td>
                <td style="min-width: 20px">
                    <!--                    <button :value="entry['id']" @click="displayEditRequestModalWindow(entry['id'])">E</button>-->
                    <input :value="entry['id']" @click="editQualificationEntry(entry['порядковий номер'])" type="image" src="/euro_new/views/images/editIcon.jpg" style="max-width: 20px">
                </td>
                <td style="min-width: 20px">
                    <input :value="entry['id']" @click="displayDeleteModalWindow(entry['порядковий номер'])" type="image" src="/euro_new/views/images/deleteIcon.png" style="max-width: 20px">
                </td>
            </tr>
            </tbody>
        </table>
<!--        <div class="table-pagination">-->
<!--            <button class="standard-button" v-for="page in pagesArray" @click="setPage(page)">{{page}}</button>-->
<!--        </div>-->
        </div>
    </script>

    <div id="app">
        <div class="main-container">

            <modal v-if="showDeleteEntryModal" @close="showDeleteEntryModal = false" @execute="deleteDiscipline()">
                <h3 slot="header">
                    Видалення кваліфікації (ID: {{ activeModalValue }})
                </h3>
                <h3 slot="body">
                    Ви впевнені?
                </h3>
            </modal>

            <div class="content-container">
                <form id="search" class="search-field">
                    <span class="text-caption">Пошук </span><input class="input-box" name="query" v-model="searchQuery" autocomplete="off">
                </form>
                <div class="add-button-container">
                    <button class="add-button" @click="addNewQualification()">Додати нову групу</button>
                </div>
                <grid
                        :heroes="gridData"
                        :columns="gridColumns"
                        :filter-key="searchQuery">
                </grid>

            </div>
        </div>
    </div>
    <script src="/euro_new/js/controlPage.js"></script>
</body>
</html>